 #headingutama {
     color: blue;
 }
 .div1{
     background-image:url(../images/fruitsalad.avif);
     height: 768px; 
     /* ini masuk css Background */
 }
 #content1 {
     color : rgb(153, 20, 20);
     text-align: justify;
     letter-spacing: 1px;
     word-spacing: 1px;
     /* Ini masuk materi font */
 }
 #content2{
     color : green;
     text-decoration: underline;
     text-transform: uppercase;
     text-indent: 10px;
     line-height:60px;
     text-shadow: 1px 1px 1px yellow;
     /* ini juga materi font */
 }